## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE

# # Drop the 'EIN' and 'NAME' columns from application_df
# application_df = application_df.drop(columns=['EIN', 'NAME'])


# ### note errors out if run more than once
# # Drop the 'EIN' and 'NAME' columns in place
# application_df.drop(columns=['EIN', 'NAME'], inplace=True)


# List of columns to drop
columns_to_drop = ['EIN', 'NAME']

# Drop columns only if they exist in the DataFrame
application_df.drop(columns=[col for col in columns_to_drop if col in application_df.columns], inplace=True)

In [3]:
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE


# # Get the number of unique values for each column in application_df
# unique_values_count = application_df.nunique()
# print(unique_values_count)


# # Print the column names along with their unique values count
# for column, unique_count in unique_values_count.items():
#     print(f"Column: {column} - Unique Values: {unique_count}")


# Get the number of unique values for each column in application_df
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
#  YOUR CODE GOES HERE

# # Get the unique values and their frequency count for the APPLICATION_TYPE column
# application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
# # Display the result
# print(application_type_counts)

application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE




cutoff = 500

# Get the value counts of APPLICATION_TYPE
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Filter the values that have counts below the cutoff
# low_count_types = application_type_counts[application_type_counts < cutoff].index.tolist()
# print(low_count_types)

# Filter the values that have counts below the cutoff
application_types_to_replace = application_type_counts[application_type_counts < cutoff].index.tolist()
print(application_types_to_replace)


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [7]:
# Set the maximum number of rows to display
pd.set_option('display.max_rows', None)

In [8]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
#  YOUR CODE GOES HERE

application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
C2190        1
C4200        1
C2600        1
C5200        1
C1370        1
C1248        1
C6100        1
C1820        1
C1900        1
C1236        1
C3700        1
C2570        1
C1580        1
C1245        1
C2500        1
C1570        1
C1283        1
C2380        1
C1732        1
C1728        1
C2170        1
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, dtype: int64

In [9]:
# Reset to the default max rows value (usually 10)
pd.reset_option('display.max_rows')

In [10]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE


# Get the value counts for the 'CLASSIFICATION' column
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Filter the value counts to only display those greater than 1
filtered_counts = classification_counts[classification_counts > 1]

# Display the filtered counts
print(filtered_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [11]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE



cutoff = 1000

# Get the value counts of APPLICATION_TYPE
classification_type_counts = application_df['CLASSIFICATION'].value_counts()

# Filter the values that have counts below the cutoff
classifications_to_replace = classification_type_counts[classification_type_counts < cutoff].index.tolist()
print(classifications_to_replace)




# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

['C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1238', 'C1278', 'C1235', 'C1237', 'C7210', 'C2400', 'C1720', 'C4100', 'C1257', 'C1600', 'C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246', 'C1267', 'C1256', 'C2190', 'C4200', 'C2600', 'C5200', 'C1370', 'C1248', 'C6100', 'C1820', 'C1900', 'C1236', 'C3700', 'C2570', 'C1580', 'C1245', 'C2500', 'C1570', 'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120', 'C8210', 'C2561', 'C4500', 'C2150']

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [12]:
# Set Pandas display option to show all columns
pd.set_option('display.max_columns', None)

In [13]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE

# before
print("########## BEFORE ##########")
print(application_df.head())

# Convert categorical data to numeric data using pd.get_dummies
application_df = pd.get_dummies(application_df)

#after
print("\n\n########## AFTER ##########")

# Display the first few rows of the new DataFrame to verify the changes
print(application_df.head())

########## BEFORE ##########
  APPLICATION_TYPE       AFFILIATION CLASSIFICATION      USE_CASE  \
0              T10       Independent          C1000    ProductDev
1               T3       Independent          C2000  Preservation
2               T5  CompanySponsored          C3000    ProductDev
3               T3  CompanySponsored          C2000  Preservation
4               T3       Independent          C1000     Heathcare

   ORGANIZATION  STATUS     INCOME_AMT SPECIAL_CONSIDERATIONS  ASK_AMT  \
0   Association       1              0                      N     5000
1  Co-operative       1         1-9999                      N   108590
2   Association       1              0                      N     5000
3         Trust       1    10000-24999                      N     6692
4         Trust       1  100000-499999                      N   142590

   IS_SUCCESSFUL
0              1
1              1
2              0
3              1
4              1


########## AFTER ##########
   STATUS  ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_Other  \
0       1     5000              1                   False
1       1   108590              1                   False
2       1     5000              0                   False
3       1     6692              1                   False
4       1   142590              1                   False

   APPLICATION_TYPE_T10  APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  \
0                  True                 False                False
1                 False                 False                 True
2                 False                 False                False
3                 False                 False                 True
4                 False                 False                 True

   APPLICATION_TYPE_T4  APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  \
0                False                False                False
1                False                False                False
2                False                 True                False
3                False                False                False
4                False                False                False

   APPLICATION_TYPE_T7  APPLICATION_TYPE_T8  AFFILIATION_CompanySponsored  \
0                False                False                         False
1                False                False                         False
2                False                False                          True
3                False                False                          True
4                False                False                         False

   AFFILIATION_Family/Parent  AFFILIATION_Independent  AFFILIATION_National  \
0                      False                     True                 False
1                      False                     True                 False
2                      False                    False                 False
3                      False                    False                 False
4                      False                     True                 False

   AFFILIATION_Other  AFFILIATION_Regional  CLASSIFICATION_C1000  \
0              False                 False                  True
1              False                 False                 False
2              False                 False                 False
3              False                 False                 False
4              False                 False                  True

   CLASSIFICATION_C1200  CLASSIFICATION_C2000  CLASSIFICATION_C2100  \
0                 False                 False                 False
1                 False                  True                 False
2                 False                 False                 False
3                 False                  True                 False
4                 False                 False                 False

   CLASSIFICATION_C3000  CLASSIFICATION_Other  USE_CASE_CommunityServ  \
0                 False                 False                   False
1                 False                 False                   False
2                  True                 False                   False
3                 False                 False                   False
4                 False                 False                   False

   USE_CASE_Heathcare  USE_CASE_Other  USE_CASE_Preservation  \
0               False           False                  False
1               False           False                   True
2               False           False                  False
3               False           False                   True
4                True           False                  False

   USE_CASE_ProductDev  ORGANIZATION_Association  ORGANIZATION_Co-operative  \
0                 True                      True                      False
1                False                     False                       True
2                 True                      True                      False
3                False                     False                      False
4                False                     False                      False

   ORGANIZATION_Corporation  ORGANIZATION_Trust  INCOME_AMT_0  \
0                     False               False          True
1                     False               False         False
2                     False               False          True
3                     False                True         False
4                     False                True         False

   INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0              False                   False                     False
1               True                   False                     False
2              False                   False                     False
3              False                    True                     False
4              False                   False                      True

   INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0               False             False                   False
1               False             False                   False
2               False             False                   False
3               False             False                   False
4               False             False                   False

   INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0            False              False                      True
1            False              False                      True
2            False              False                      True
3            False              False                      True
4            False              False                      True

   SPECIAL_CONSIDERATIONS_Y
0                     False
1                     False
2                     False
3                     False
4                     False

In [14]:
# Reset the display.max_columns option to its default value
pd.reset_option('display.max_columns')

In [15]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE


# Split the data into features and labels
#
# y - labels - label vector - target variables (dependent variables)
y_labels_df = application_df['IS_SUCCESSFUL']
#
# X - features - feature matrix - input variables (independent variables)
x_features_df = application_df.drop(columns=['IS_SUCCESSFUL'])

print("y_labels_df\n-----------\n", y_labels_df.head())
print("\nx_features_df\n-------------\n", x_features_df.head())


# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE

from sklearn.model_selection import train_test_split

# Split the data into training and testing sets

# test_data_percentage = (20/100) ... means 20% of the data will be used for testing, and 80% for training. (FYI: default is 25%)
test_data_percentage = (20/100)
X_train, X_test, y_train, y_test = train_test_split(x_features_df, y_labels_df, test_size=test_data_percentage, random_state=1)

print("\nX_train\n-------\n", X_train)
print("\nX_test\n------\n", X_test)
print("\ny_train\n-------\n", y_train)
print("\ny_test\n------\n", y_test)

y_labels_df
-----------
 0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

x_features_df
-------------
    STATUS  ASK_AMT  APPLICATION_TYPE_Other  APPLICATION_TYPE_T10  \
0       1     5000                   False                  True
1       1   108590                   False                 False
2       1     5000                   False                 False
3       1     6692                   False                 False
4       1   142590                   False                 False

   APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  APPLICATION_TYPE_T4  \
0                 False                False                False
1                 False                 True                False
2                 False                False                False
3                 False                 True                False
4                 False                 True                False

   APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  APPLICATION_TYPE_T7  ...  \
0                False                False                False  ...
1                False                False                False  ...
2                 True                False                False  ...
3                False                False                False  ...
4                False                False                False  ...

   INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0              False                   False                     False
1               True                   False                     False
2              False                   False                     False
3              False                    True                     False
4              False                   False                      True

   INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0               False             False                   False
1               False             False                   False
2               False             False                   False
3               False             False                   False
4               False             False                   False

   INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0            False              False                      True
1            False              False                      True
2            False              False                      True
3            False              False                      True
4            False              False                      True

   SPECIAL_CONSIDERATIONS_Y
0                     False
1                     False
2                     False
3                     False
4                     False

[5 rows x 43 columns]

X_train
-------
        STATUS  ASK_AMT  APPLICATION_TYPE_Other  APPLICATION_TYPE_T10  \
28644       1     5000                   False                 False
6955        1     5000                   False                 False
26368       1     5000                   False                 False
3510        1     5000                   False                 False
18215       1     5000                   False                 False
...       ...      ...                     ...                   ...
7813        1     5000                   False                 False
32511       1     5000                   False                 False
5192        1     5000                   False                 False
12172       1     5000                   False                 False
33003       1     5000                   False                 False

       APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  APPLICATION_TYPE_T4  \
28644                 False                 True                False
6955                  False                 True                False
26368                 False                 True                False
3510                  False                 True                False
18215                 False                 True                False
...                     ...                  ...                  ...
7813                  False                 True                False
32511                 False                False                False
5192                  False                 True                False
12172                 False                 True                False
33003                 False                False                 True

       APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  APPLICATION_TYPE_T7  ...  \
28644                False                False                False  ...
6955                 False                False                False  ...
26368                False                False                False  ...
3510                 False                False                False  ...
18215                False                False                False  ...
...                    ...                  ...                  ...  ...
7813                 False                False                False  ...
32511                 True                False                False  ...
5192                 False                False                False  ...
12172                False                False                False  ...
33003                False                False                False  ...

       INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
28644              False                   False                     False
6955               False                   False                     False
26368              False                   False                     False
3510               False                   False                     False
18215              False                   False                     False
...                  ...                     ...                       ...
7813               False                   False                     False
32511              False                   False                     False
5192               False                   False                     False
12172              False                   False                     False
33003              False                   False                     False

       INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
28644               False             False                   False
6955                False             False                   False
26368               False             False                   False
3510                False             False                   False
18215               False             False                   False
...                   ...               ...                     ...
7813                False             False                   False
32511               False             False                   False
5192                False             False                   False
12172               False             False                   False
33003               False             False                   False

       INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
28644            False              False                      True
6955             False              False                      True
26368            False              False                      True
3510             False              False                      True
18215            False              False                      True
...                ...                ...                       ...
7813             False              False                      True
32511            False              False                      True
5192             False              False                      True
12172            False              False                      True
33003            False              False                      True

       SPECIAL_CONSIDERATIONS_Y
28644                     False
6955                      False
26368                     False
3510                      False
18215                     False
...                         ...
7813                      False
32511                     False
5192                      False
12172                     False
33003                     False

[27439 rows x 43 columns]

X_test
------
        STATUS  ASK_AMT  APPLICATION_TYPE_Other  APPLICATION_TYPE_T10  \
19398       1     5000                   False                 False
14725       1     5000                   False                 False
14209       1    22544                   False                 False
25213       1     5000                   False                 False
5886        1    10674                   False                 False
...       ...      ...                     ...                   ...
15731       1     5000                   False                 False
29506       1   153263                   False                 False
20914       1   416997                   False                 False
24231       1     5000                   False                 False
16978       1     5000                   False                 False

       APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  APPLICATION_TYPE_T4  \
19398                 False                 True                False
14725                 False                 True                False
14209                 False                 True                False
25213                 False                 True                False
5886                  False                 True                False
...                     ...                  ...                  ...
15731                 False                 True                False
29506                 False                 True                False
20914                 False                 True                False
24231                 False                 True                False
16978                 False                 True                False

       APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  APPLICATION_TYPE_T7  ...  \
19398                False                False                False  ...
14725                False                False                False  ...
14209                False                False                False  ...
25213                False                False                False  ...
5886                 False                False                False  ...
...                    ...                  ...                  ...  ...
15731                False                False                False  ...
29506                False                False                False  ...
20914                False                False                False  ...
24231                False                False                False  ...
16978                False                False                False  ...

       INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
19398              False                   False                     False
14725              False                   False                     False
14209              False                   False                     False
25213              False                   False                     False
5886               False                   False                      True
...                  ...                     ...                       ...
15731              False                   False                     False
29506              False                   False                      True
20914              False                    True                     False
24231              False                   False                     False
16978              False                   False                     False

       INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
19398               False             False                   False
14725               False             False                   False
14209               False             False                    True
25213               False             False                   False
5886                False             False                   False
...                   ...               ...                     ...
15731               False             False                   False
29506               False             False                   False
20914               False             False                   False
24231               False             False                   False
16978               False             False                   False

       INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
19398            False              False                      True
14725            False              False                      True
14209            False              False                      True
25213            False              False                      True
5886             False              False                      True
...                ...                ...                       ...
15731            False              False                      True
29506            False              False                      True
20914            False              False                      True
24231            False              False                      True
16978            False              False                      True

       SPECIAL_CONSIDERATIONS_Y
19398                     False
14725                     False
14209                     False
25213                     False
5886                      False
...                         ...
15731                     False
29506                     False
20914                     False
24231                     False
16978                     False

[6860 rows x 43 columns]

y_train
-------
 28644    1
6955     1
26368    0
3510     0
18215    0
        ..
7813     0
32511    1
5192     0
12172    0
33003    0
Name: IS_SUCCESSFUL, Length: 27439, dtype: int64

y_test
------
 19398    1
14725    0
14209    1
25213    1
5886     0
        ..
15731    0
29506    0
20914    0
24231    0
16978    1
Name: IS_SUCCESSFUL, Length: 6860, dtype: int64

In [16]:
# Display the shape of the datasets
print("X_train shape :", X_train.shape)
print("y_train shape :", y_train.shape)
print("X_test shape  :", X_test.shape)
print("y_test shape  :", y_test.shape)

X_train shape : (27439, 43)
y_train shape : (27439,)
X_test shape  : (6860, 43)
y_test shape  : (6860,)

In [17]:
# # Check for missing values in the datasets
# print("\nMissing values in X_train:\n", X_train.isnull().sum())
# print("\nMissing values in X_test:\n", X_test.isnull().sum())

# print("\nMissing values in y_train:\n", y_train.isnull().sum())
# print("\nMissing values in y_test:\n", y_test.isnull().sum())

In [18]:
# # Display basic statistics of the datasets
# print("\nBasic statistics of X_train:")
# print(X_train.describe())

# print("\nBasic statistics of y_train:")
# print(y_train.describe())

# print("\nBasic statistics of X_test:")
# print(X_test.describe())

# print("\nBasic statistics of y_test:")
# print(y_test.describe())

In [19]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [20]:
print("\nX_train_scaled\n--------------\n", X_train_scaled)
print("\nX_test_scaled\n-------------\n", X_test_scaled)

X_train_scaled
--------------
 [[ 0.01045683 -0.03095675 -0.08845001 ... -0.07488171  0.02832705
  -0.02832705]
 [ 0.01045683 -0.03095675 -0.08845001 ... -0.07488171  0.02832705
  -0.02832705]
 [ 0.01045683 -0.03095675 -0.08845001 ... -0.07488171  0.02832705
  -0.02832705]
 ...
 [ 0.01045683 -0.03095675 -0.08845001 ... -0.07488171  0.02832705
  -0.02832705]
 [ 0.01045683 -0.03095675 -0.08845001 ... -0.07488171  0.02832705
  -0.02832705]
 [ 0.01045683 -0.03095675 -0.08845001 ... -0.07488171  0.02832705
  -0.02832705]]

X_test_scaled
-------------
 [[ 0.01045683 -0.03095675 -0.08845001 ... -0.07488171  0.02832705
  -0.02832705]
 [ 0.01045683 -0.03095675 -0.08845001 ... -0.07488171  0.02832705
  -0.02832705]
 [ 0.01045683 -0.03076158 -0.08845001 ... -0.07488171  0.02832705
  -0.02832705]
 ...
 [ 0.01045683 -0.02637337 -0.08845001 ... -0.07488171  0.02832705
  -0.02832705]
 [ 0.01045683 -0.03095675 -0.08845001 ... -0.07488171  0.02832705
  -0.02832705]
 [ 0.01045683 -0.03095675 -0.08845001 ... -0.07488171  0.02832705
  -0.02832705]]

In [21]:
print("X_train_scaled :", X_train_scaled.shape)
print("X_test_scaled  :", X_test_scaled.shape)

X_train_scaled : (27439, 43)
X_test_scaled  : (6860, 43)

## Compile, Train and Evaluate the Model

In [33]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE

# Second hidden layer
#  YOUR CODE GOES HERE

# Output layer
#  YOUR CODE GOES HERE

# Check the structure of the model
nn.summary()

WARNING:tensorflow:From Z:\Travis\anaconda3\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 80)                3520
_________________________________________________________________
dense_1 (Dense)              (None, 30)                2430
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 31
=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [34]:
# Compile the model
#  YOUR CODE GOES HERE

WARNING:tensorflow:From Z:\Travis\anaconda3\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [36]:
# Train the model
#  YOUR CODE GOES HERE

Epoch 1/100
25724/25724 [==============================] - 2s 80us/sample - loss: 0.5700 - acc: 0.7234
Epoch 2/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.5556 - acc: 0.7294
Epoch 3/100
25724/25724 [==============================] - 1s 43us/sample - loss: 0.5529 - acc: 0.7304
Epoch 4/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5514 - acc: 0.7318
Epoch 5/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5495 - acc: 0.7322
Epoch 6/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5488 - acc: 0.7330
Epoch 7/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5482 - acc: 0.7335
Epoch 8/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.5475 - acc: 0.7326
Epoch 9/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5468 - acc: 0.73491s - lo
Epoch 10/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5465 - acc: 0.7350
Epoch 11/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5459 - acc: 0.7345
Epoch 12/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5456 - acc: 0.7362
Epoch 13/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5458 - acc: 0.7339
Epoch 14/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5450 - acc: 0.7361
Epoch 15/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5447 - acc: 0.7353
Epoch 16/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5444 - acc: 0.7356
Epoch 17/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5440 - acc: 0.7358
Epoch 18/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5442 - acc: 0.7367
Epoch 19/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5436 - acc: 0.7360
Epoch 20/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.5435 - acc: 0.7365
Epoch 21/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.5426 - acc: 0.7377
Epoch 22/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.5429 - acc: 0.7367
Epoch 23/100
25724/25724 [==============================] - 1s 42us/sample - loss: 0.5428 - acc: 0.7382
Epoch 24/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5425 - acc: 0.7376
Epoch 25/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.5421 - acc: 0.7379
Epoch 26/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5419 - acc: 0.7382
Epoch 27/100
25724/25724 [==============================] - 1s 56us/sample - loss: 0.5415 - acc: 0.7384
Epoch 28/100
25724/25724 [==============================] - 2s 67us/sample - loss: 0.5418 - acc: 0.7381
Epoch 29/100
25724/25724 [==============================] - 2s 60us/sample - loss: 0.5415 - acc: 0.7381
Epoch 30/100
25724/25724 [==============================] - 2s 61us/sample - loss: 0.5410 - acc: 0.7382
Epoch 31/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5414 - acc: 0.7381
Epoch 32/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5407 - acc: 0.7388
Epoch 33/100
25724/25724 [==============================] - 1s 44us/sample - loss: 0.5412 - acc: 0.7374
Epoch 34/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5405 - acc: 0.7383
Epoch 35/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5405 - acc: 0.7388
Epoch 36/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.5405 - acc: 0.7384
Epoch 37/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5403 - acc: 0.7379
Epoch 38/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5401 - acc: 0.7392
Epoch 39/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5405 - acc: 0.7387
Epoch 40/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5399 - acc: 0.7390
Epoch 41/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5395 - acc: 0.7394
Epoch 42/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5399 - acc: 0.7391
Epoch 43/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5396 - acc: 0.7389
Epoch 44/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5398 - acc: 0.7397
Epoch 45/100
25724/25724 [==============================] - 1s 45us/sample - loss: 0.5395 - acc: 0.7400
Epoch 46/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5389 - acc: 0.7391
Epoch 47/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5391 - acc: 0.7393
Epoch 48/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5390 - acc: 0.7383
Epoch 49/100
25724/25724 [==============================] - 1s 47us/sample - loss: 0.5391 - acc: 0.7390
Epoch 50/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5387 - acc: 0.7402
Epoch 51/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5388 - acc: 0.7393
Epoch 52/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5389 - acc: 0.7393
Epoch 53/100
25724/25724 [==============================] - 1s 49us/sample - loss: 0.5387 - acc: 0.7394
Epoch 54/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5385 - acc: 0.7395
Epoch 55/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5381 - acc: 0.7394
Epoch 56/100
25724/25724 [==============================] - 2s 60us/sample - loss: 0.5384 - acc: 0.7396
Epoch 57/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.5384 - acc: 0.7392
Epoch 58/100
25724/25724 [==============================] - 1s 52us/sample - loss: 0.5382 - acc: 0.7398
Epoch 59/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.5382 - acc: 0.7390
Epoch 60/100
25724/25724 [==============================] - 1s 58us/sample - loss: 0.5383 - acc: 0.7395
Epoch 61/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5380 - acc: 0.7393
Epoch 62/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5386 - acc: 0.7395
Epoch 63/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5379 - acc: 0.7397
Epoch 64/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5383 - acc: 0.7414
Epoch 65/100
25724/25724 [==============================] - 1s 57us/sample - loss: 0.5376 - acc: 0.74031s
Epoch 66/100
25724/25724 [==============================] - 1s 55us/sample - loss: 0.5378 - acc: 0.7407
Epoch 67/100
25724/25724 [==============================] - 2s 60us/sample - loss: 0.5378 - acc: 0.7402
Epoch 68/100
25724/25724 [==============================] - 2s 68us/sample - loss: 0.5374 - acc: 0.7403
Epoch 69/100
25724/25724 [==============================] - 1s 55us/sample - loss: 0.5376 - acc: 0.7400
Epoch 70/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.5377 - acc: 0.7404
Epoch 71/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5377 - acc: 0.7402
Epoch 72/100
25724/25724 [==============================] - 2s 61us/sample - loss: 0.5374 - acc: 0.7403
Epoch 73/100
25724/25724 [==============================] - 1s 58us/sample - loss: 0.5375 - acc: 0.7400
Epoch 74/100
25724/25724 [==============================] - 2s 63us/sample - loss: 0.5373 - acc: 0.7407
Epoch 75/100
25724/25724 [==============================] - 2s 72us/sample - loss: 0.5371 - acc: 0.7402
Epoch 76/100
25724/25724 [==============================] - 2s 66us/sample - loss: 0.5372 - acc: 0.7404
Epoch 77/100
25724/25724 [==============================] - 2s 63us/sample - loss: 0.5372 - acc: 0.7399
Epoch 78/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.5378 - acc: 0.7409
Epoch 79/100
25724/25724 [==============================] - 2s 70us/sample - loss: 0.5370 - acc: 0.7410
Epoch 80/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5371 - acc: 0.7402
Epoch 81/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5368 - acc: 0.7414
Epoch 82/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5366 - acc: 0.7413
Epoch 83/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5368 - acc: 0.7405
Epoch 84/100
25724/25724 [==============================] - 2s 65us/sample - loss: 0.5367 - acc: 0.7407
Epoch 85/100
25724/25724 [==============================] - 2s 64us/sample - loss: 0.5368 - acc: 0.7404
Epoch 86/100
25724/25724 [==============================] - 2s 69us/sample - loss: 0.5365 - acc: 0.7408
Epoch 87/100
25724/25724 [==============================] - 1s 53us/sample - loss: 0.5371 - acc: 0.7407
Epoch 88/100
25724/25724 [==============================] - 1s 57us/sample - loss: 0.5367 - acc: 0.7410
Epoch 89/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5366 - acc: 0.7409
Epoch 90/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5365 - acc: 0.7409
Epoch 91/100
25724/25724 [==============================] - 1s 48us/sample - loss: 0.5360 - acc: 0.7414
Epoch 92/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5370 - acc: 0.7406
Epoch 93/100
25724/25724 [==============================] - 1s 46us/sample - loss: 0.5365 - acc: 0.7411
Epoch 94/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5366 - acc: 0.7409
Epoch 95/100
25724/25724 [==============================] - 1s 56us/sample - loss: 0.5362 - acc: 0.7411
Epoch 96/100
25724/25724 [==============================] - 1s 50us/sample - loss: 0.5361 - acc: 0.7404
Epoch 97/100
25724/25724 [==============================] - 1s 54us/sample - loss: 0.5361 - acc: 0.74130s - loss: 0.5380 -
Epoch 98/100
25724/25724 [==============================] - 2s 64us/sample - loss: 0.5365 - acc: 0.7407
Epoch 99/100
25724/25724 [==============================] - 2s 80us/sample - loss: 0.5360 - acc: 0.7396
Epoch 100/100
25724/25724 [==============================] - 2s 64us/sample - loss: 0.5360 - acc: 0.7416

In [37]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5578 - acc: 0.7263
Loss: 0.557812534073699, Accuracy: 0.7262973785400391

In [38]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE